.container {
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: flex-end;
    margin-right: 3%;
    
}

.themeSwitcher {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    cursor: pointer;
    border: 2px solid #fff;
}

.themeSwitcher:hover {
    box-shadow: white 0 0 10px;
    cursor: pointer;
}

@media (max-width: 1000px) {
    .container {
        justify-content: center;
    }
    
}
