.container {
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: right;
    margin-right: 3%;
    
}

.themeSwitcher {
    width: 50px;
    height: 50px;
    background-color: #eb1a1a;
    border-radius: 50px;
    cursor: pointer;
}


.standard {
    background-image: linear-gradient(100deg, #575656, #062e3f);
    color: #ffdfdb;
    transition: 0.3s linear;
}

.light {
    background-image: linear-gradient(100deg, #d4f1ff, #ffffff);
    color: #1a150e;
    transition: 0.3s linear;
}

.darker {
    background-image: linear-gradient(100deg, #001214, #001f29);
    color: white;
    transition: 0.3s linear;
}