.container {
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: right;
    margin-right: 3%;
    
}

.themeSwitcher {
    width: 50px;
    height: 50px;
    background-color: #eb1a1a;
    border-radius: 50px;
    cursor: pointer;
}


